Repository AU-14/ColonialMarinesUniverse, pull requests merged in 2025-07, with the labels that each got.

#187 Dumpster Prop
  Resources/Prototypes/_AU14/Entities/Structures/dumpsters.yml
  Resources/Textures/_AU14/Structures/dumpsters.rsi/blue-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/blue.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/green-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/green.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/meta.json
  Resources/Textures/_AU14/Structures/dumpsters.rsi/orange-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/orange.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/purple-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/purple.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/red-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/red.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/we-yu-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/we-yu.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/yellow-open.png
  Resources/Textures/_AU14/Structures/dumpsters.rsi/yellow.png
Labels: Changes: Sprites, Changes: No C#

#224 Updated Readme
  README.md
Labels: Changes: No C#

#239 APC 'improvement'
  Content.Shared/_RMC14/Power/SharedRMCPowerSystem.cs
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc-b.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc-spark.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc0.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc1-b-nocover.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc1-nocover.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc1.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc1_mapicon.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc2-b-nocover.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc2-nocover.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc2.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc2_mapicon.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apc_mapicon.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apcemag.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apcewires.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apcewires_mapicon.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apcmaint.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco-emag.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco0-0.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco0-1.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco0-2.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco0-3.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco1-0.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco1-1.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco1-2.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco1-3.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco2-0.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco2-1.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco2-2.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apco2-3.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apcox-0.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/apcox-1.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/base.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Power/apc.rsi/panel.png
Labels: Changes: Sprites

#238 Colony jobs
  Content.Client/AU14/ColonyEconomy/BudgetConsoleBui.cs
  Content.Client/AU14/ColonyEconomy/BudgetConsoleWindow.xaml
  Content.Client/AU14/ColonyEconomy/BudgetConsoleWindow.xaml.cs
  Content.Server/AU14/ColonyEconomy/AUJobSystem.cs
  Content.Server/AU14/ColonyEconomy/BudgetConsoleSystem.cs
  Content.Server/AU14/ColonyEconomy/ColonyBudgetSytem.cs
  Content.Server/AU14/ColonyEconomy/SubmissionStorageSystem.cs
  Content.Server/AU14/ColonyJobs/MiningJobSystem.cs
  Content.Shared/AU14/ColonyEconomy/BudgetConsoleComponent.cs
  Content.Shared/AU14/ColonyEconomy/BudgetConsoleUI.cs
  Content.Shared/AU14/ColonyEconomy/SubmissionStorageComponent.cs
  Resources/Locale/en-US/_RMC14/access/colony-access.ftl
  Resources/Locale/en-US/_RMC14/access/corporate-access.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Maps/lv747insurgency.yml
  Resources/Prototypes/_AU14/Entities/IDCards/Colony.yml
  Resources/Prototypes/_AU14/Entities/JobStuff/JobMachines.yml
  Resources/Prototypes/_AU14/JobStuff/JobMachines.yml
  Resources/Prototypes/_AU14/JobStuff/mineable_rocks.yml
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/meta.json
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock0.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock1.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock2.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock3.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock4.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock5.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock6.png
  Resources/Prototypes/_AU14/JobStuff/solaris_mrock.rsi/solaris_mrock7.png
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycmbdeputy.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycmbmarshal.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyfreightsystemsspecialist.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonykellandwarden.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyphysician.yml
  Resources/Prototypes/_AU14/Roles/Jobs/WeYu/weyucorporateguard.yml
  Resources/Prototypes/_AU14/access/groups/auother_access_groups.yml
  Resources/Prototypes/_RMC14/Access/colony_access.yml
  Resources/Prototypes/_RMC14/Access/we_ya_access.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Doors/Airlocks/accesses-almayer.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Flora/Trees/trees.yml
Labels: Changes: Sprites, Changes: Map, Changes: UI

#240 Flight playtest
  Resources/Maps/_RMC14/flight.yml
  Resources/Prototypes/_RMC14/Entities/Areas/areas_flight.yml
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/meta.json
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus1-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus1-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus2-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus2-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus3-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus3-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus4-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus4-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus5-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus5-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus6-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus6-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus7-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus7-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus8-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/minus8-out.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/roof-in.png
  Resources/Textures/_RMC14/Areas/areas_flight.rsi/roof-out.png
Labels: Changes: Sprites, Changes: Map, Changes: No C#

#241 Tartarus
  Resources/Maps/_RMC14/TartarusPrison.yml
  Resources/Prototypes/_RMC14/Entities/Structures/fence.yml
  Resources/Prototypes/_RMC14/Maps/tartarus.yml
Labels: Changes: Map, Changes: No C#

#70 queen and drone sprite ports
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/sleeping.png
Labels: Changes: Sprites, Changes: No C#, do not merge

#274 Crashing fix
  Resources/Prototypes/Maps/dev.yml
Labels: Changes: Map, Changes: No C#
