Repository AU-14/ColonialMarinesUniverse, pull requests merged in 2025-08, with the labels that each got.

#290 Additional plt vendors (for SpazTheButcher)
  Resources/Prototypes/_AU14/Entities/Vendors/wypmcvendors.yml
  Resources/Prototypes/_AU14/gamemode/platoons.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/veteran.yml
Labels: Changes: No C#

#296 Port PvE/PvP Patches
  Resources/Prototypes/_AU14/Entities/Clothing/USCM/jumpsuits.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Universal/patches.yml
  Resources/Textures/_AU14/Clothing/Patches/ua_flag_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/ua_flag_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/ua_flag_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_armor_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_armor_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/us_army_armor_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_cav_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_cav_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/us_army_cav_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/us_army_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_sapper_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_sapper_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/us_army_sapper_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_spook_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/us_army_spook_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/us_army_spook_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/us_flag_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/us_flag_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/us_flag_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/usasf_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/usasf_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/usasf_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/uscm_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/uscm_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/uscm_patch.rsi/patch.png
Labels: Changes: Sprites, Changes: No C#

#310 Ship system, various fixes
  Content.Client/Voting/UI/VoteCallMenu.xaml
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Server/AU14/Round/AddJobsRuleSystem.cs
  Content.Server/AU14/Round/AuRoundSystem.cs
  Content.Server/AU14/Round/AuVoteRuleSystem.cs
  Content.Server/AU14/Round/Fugitive/FugitiveRuleSystem.cs
  Content.Server/AU14/Round/PlatoonSpawnRuleSystem.cs
  Content.Server/AU14/Round/ShipFactionComponent.cs
  Content.Server/AU14/SetFullPowerCommand.cs
  Content.Server/AU14/VendorMarker/VendorMarkerComponent.cs
  Content.Server/Content.Server.csproj
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/AU14/Util/PlatoonJobClass.cs
  Content.Shared/AU14/Util/PlatoonMarkerClass.cs
  Content.Shared/AU14/Util/PlatoonPrototype.cs
  Content.Shared/_RMC14/Rules/RMCPlanetMapPrototypeComponent.cs
  Resources/Maps/_AU14/USSRiptide.yml
  Resources/Prototypes/_AU14/Entities/Items/ieds.yml
  Resources/Prototypes/_AU14/Factions/au_factions.yml
  Resources/Prototypes/_AU14/Maps/USSRiptideStandard.yml
  Resources/Prototypes/_AU14/Maps/planets.yml
  Resources/Prototypes/_AU14/Maps/sheperdspride.yml
  Resources/Prototypes/_AU14/gamemode/gamemodes.yml
  Resources/Prototypes/_AU14/gamemode/platoonmarkers.yml
  Resources/Prototypes/_AU14/gamemode/platoons.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Lathe/lathe.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/commanding_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/maint_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Engineering/ordnance_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/weapons_specialist.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_deputy.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_marshal.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_observer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SOF/sof_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/WeYa/goon_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/liaison.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/cargo_tech.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Requisitions/quartermaster.yml
Labels: Changes: Map, Changes: UI

#313 Platoon system segregation, squad trackers, jobclasoverride overwatch, iff, more
  Content.Server/AU14/Round/AddJobsRuleSystem.cs
  Content.Server/AU14/Round/PlatoonSpawnRuleSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/AU14/Util/PlatoonJobClass.cs
  Content.Shared/AU14/Util/PlatoonMarkerClass.cs
  Content.Shared/AU14/Util/PlatoonPrototype.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Maps/_AU14/USSRiptide.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Headset/govforheadsets.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Headset/opforheadsets.yml
  Resources/Prototypes/_AU14/Entities/IDCards/GOVFOR.yml
  Resources/Prototypes/_AU14/Entities/IDCards/OPFOR.yml
  Resources/Prototypes/_AU14/Entities/Items/ieds.yml
  Resources/Prototypes/_AU14/Factions/au_factions.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platooncommander.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platooncorpsman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoondropshipcrewchief.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonoperationsofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonpilotofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonradiotelephoneoperator.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonsectionsergeant.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonsquadautomaticrifleman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonsquadrifleman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/Default/platoonsquadsergeant.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platooncommander.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platooncorpsman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoondropshipcrewchief.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonoperationsofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonpilotofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonradiotelephoneoperator.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonsectionsergeant.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonsquadautomaticrifleman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonsquadrifleman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Opfor/platoonsquadsergeant.yml
  Resources/Prototypes/_AU14/gamemode/gamemodes.yml
  Resources/Prototypes/_AU14/gamemode/platoonmarkers.yml
  Resources/Prototypes/_AU14/gamemode/platoons.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_communications_console_special.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/SPP/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/squads.yml
Labels: Changes: Map

#328 Objective system first implementation
  Content.Client/AU14/Objectives/ObjectiveIntelWindow.xaml
  Content.Client/AU14/Objectives/ObjectiveIntelWindow.xaml.cs
  Content.Client/AU14/Objectives/ObjectivesConsoleBoundUserInterface.cs
  Content.Client/AU14/Objectives/ObjectivesConsoleWindow.xaml
  Content.Client/AU14/Objectives/ObjectivesConsoleWindow.xaml.cs
  Content.Client/Content.Client.csproj
  Content.Server/AU14/Objectives/AuObjectiveSystem.cs
  Content.Server/AU14/Objectives/Fetch/AuFetchObjectiveSystem.cs
  Content.Server/AU14/Objectives/ObjectivesConsoleSystem.cs
  Content.Server/AU14/Round/PlatoonSpawnRuleSystem.cs
  Content.Server/AU14/SetFullPowerCommand.cs
  Content.Server/Content.Server.csproj
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Shared/AU14/Objectives/AUObjectiveComponent.cs
  Content.Shared/AU14/Objectives/AuSharedObjectiveSystem.cs
  Content.Shared/AU14/Objectives/Fetch/AuFetchItemComponent.cs
  Content.Shared/AU14/Objectives/Fetch/FetchObjectiveComponent.cs
  Content.Shared/AU14/Objectives/Fetch/FetchObjectiveMarkerComponent.cs
  Content.Shared/AU14/Objectives/Fetch/FetchObjectiveReturnPointComponent.cs
  Content.Shared/AU14/Objectives/ObjectiveMasterComponent.cs
  Content.Shared/AU14/Objectives/ObjectivesConsoleComponent.cs
  Content.Shared/AU14/Objectives/ObjectivesConsoleUi.cs
  Content.Shared/AU14/Objectives/SharedObjectivesConsoleSystem.cs
  Content.Shared/AU14/Util/PlatoonMarkerClass.cs
  Content.Shared/AU14/Util/PlatoonPrototype.cs
  Content.Shared/Content.Shared.csproj
  Resources/Locale/en-US/_AU14/antags.ftl
  Resources/Prototypes/_AU14/Entities/Structures/blackbox.yml
  Resources/Prototypes/_AU14/antags.yml
  Resources/Prototypes/_AU14/gamemode/gamemodes.yml
  Resources/Prototypes/_AU14/gamemode/platoonmarkers.yml
  Resources/Prototypes/_AU14/objectives/fetchobjectives.yml
  Resources/Prototypes/_AU14/objectives/objectivesbase.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/rmc_tactical_map_special.yml
  Resources/Prototypes/_RMC14/Factions/rmc_factions.yml
Labels: Changes: UI

#329 Patchification
  Resources/Prototypes/_AU14/Entities/Clothing/Universal/patches.yml
  Resources/Textures/_AU14/Clothing/Patches/brazil_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/brazil_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/brazil_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/brazilunit_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/brazilunit_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/brazilunit_patch.rsi/patch.png
  Resources/Textures/_AU14/Clothing/Patches/marine_sapper_patch.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Patches/marine_sapper_patch.rsi/meta.json
  Resources/Textures/_AU14/Clothing/Patches/marine_sapper_patch.rsi/patch.png
Labels: Changes: Sprites, Changes: No C#

#339 Fighters + dropships automoation
  Content.Server/AU14/Objectives/AuObjectiveSystem.cs
  Content.Server/AU14/Round/PlatoonSpawnRuleSystem.cs
  Content.Server/AU14/Round/WhitelistedShuttleComponent.cs
  Content.Server/_RMC14/Dropship/DropshipSystem.cs
  Content.Shared/AU14/Objectives/AUObjectiveComponent.cs
  Content.Shared/AU14/Objectives/Capture/SharedCaptureObjectiveSystem.cs
  Content.Shared/AU14/Util/PlatoonMarkerClass.cs
  Content.Shared/AU14/Util/PlatoonPrototype.cs
  Content.Shared/_RMC14/Dropship/DropshipDestinationComponent.cs
  Content.Shared/_RMC14/Dropship/SharedDropshipSystem.cs
  Content.Shared/_RMC14/Rules/RMCPlanetMapPrototypeComponent.cs
  Resources/Maps/_AU14/ShuttlesDropships/civshuttle.yml
  Resources/Prototypes/_AU14/Maps/planets.yml
  Resources/Prototypes/_AU14/gamemode/platoonmarkers.yml
  Resources/Prototypes/_AU14/gamemode/platoons.yml
  Resources/Prototypes/_AU14/objectives/killobjectives.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/shuttle_console.yml
Labels: Changes: Map

#351 Temporary Floodlight Fix
  Resources/Prototypes/_AU14/Entities/Objects/Misc/floodlights.yml
  Resources/migration.yml
Labels: Changes: No C#

#354 fixed transforms on daybreak
  Resources/Maps/_AU14/daybreak.yml
  Resources/Prototypes/_AU14/gamemode/gamemodes.yml
Labels: Changes: Map, Changes: No C#
