Repository AU-14/ColonialMarinesUniverse, pull requests merged in 2025-05, with the labels that each got.

#76 patches 1
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Ears/marine_headsets.yml
  Resources/Prototypes/_AU14/marinevendors.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/d_ml66_barrel.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/d_ml66_barrel_a.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Attachments/barrel.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#78 Lifepak 15
  Resources/Audio/_AU14/Medical/attributions.yml
  Resources/Audio/_AU14/Medical/defib_SafetyOff.ogg
  Resources/Audio/_AU14/Medical/defib_SafetyOn.ogg
  Resources/Audio/_AU14/Medical/defib_charge.ogg
  Resources/Audio/_AU14/Medical/defib_failed.ogg
  Resources/Audio/_AU14/Medical/defib_ready.ogg
  Resources/Audio/_AU14/Medical/defib_release.ogg
  Resources/Audio/_AU14/Medical/defib_success.ogg
  Resources/Prototypes/_AU14/Entities/Items/audefib.yml
  Resources/Prototypes/_AU14/marinevendors.yml
  Resources/Textures/_AU14/Clothing/desertfatigues.rsi/junglefatigues.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/desertfatigues.rsi/junglefatigues.rsi/icon.png
  Resources/Textures/_AU14/Clothing/desertfatigues.rsi/junglefatigues.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/desertfatigues.rsi/junglefatigues.rsi/meta.json
  Resources/Textures/_AU14/Clothing/desertfatigues.rsi/junglefatigues.rsi/sleeveless-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/desertfatigues.rsi/junglefatigues.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/mixedsnowfatigues.rsi/meta.json
  Resources/Textures/_AU14/Items/audefib.rsi/1.png
  Resources/Textures/_AU14/Items/audefib.rsi/10.png
  Resources/Textures/_AU14/Items/audefib.rsi/2.png
  Resources/Textures/_AU14/Items/audefib.rsi/3.png
  Resources/Textures/_AU14/Items/audefib.rsi/4.png
  Resources/Textures/_AU14/Items/audefib.rsi/5.png
  Resources/Textures/_AU14/Items/audefib.rsi/6.png
  Resources/Textures/_AU14/Items/audefib.rsi/7.png
  Resources/Textures/_AU14/Items/audefib.rsi/8.png
  Resources/Textures/_AU14/Items/audefib.rsi/9.png
  Resources/Textures/_AU14/Items/audefib.rsi/adv_defib-inhand-left.png
  Resources/Textures/_AU14/Items/audefib.rsi/adv_defib-inhand-right.png
  Resources/Textures/_AU14/Items/audefib.rsi/adv_defib.png
  Resources/Textures/_AU14/Items/audefib.rsi/adv_defib_on.png
  Resources/Textures/_AU14/Items/audefib.rsi/defib-inhand-left.png
  Resources/Textures/_AU14/Items/audefib.rsi/defib-inhand-right.png
  Resources/Textures/_AU14/Items/audefib.rsi/defib.png
  Resources/Textures/_AU14/Items/audefib.rsi/defib_on.png
  Resources/Textures/_AU14/Items/audefib.rsi/empty.png
  Resources/Textures/_AU14/Items/audefib.rsi/full.png
  Resources/Textures/_AU14/Items/audefib.rsi/half.png
  Resources/Textures/_AU14/Items/audefib.rsi/low.png
  Resources/Textures/_AU14/Items/audefib.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun/desert.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun/jungle.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun/snow.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Ammunition/Magazines/SmartGuns/magazine_smart_gun/urban.rsi/meta.json
Labels: Changes: Sprites, Changes: Audio, Changes: No C#

#80 Update marinevendors.yml
  Resources/Prototypes/_AU14/marinevendors.yml
Labels: Changes: No C#

#84 Add corpsman emote.
  Resources/Audio/_AU14/Voice/Corpsman/attributions.yml
  Resources/Audio/_AU14/Voice/Corpsman/female_corpsman_1.ogg
  Resources/Audio/_AU14/Voice/Corpsman/female_corpsman_2.ogg
  Resources/Audio/_AU14/Voice/Corpsman/female_corpsman_3.ogg
  Resources/Audio/_AU14/Voice/Corpsman/female_corpsman_4.ogg
  Resources/Audio/_AU14/Voice/Corpsman/female_corpsman_5.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_1.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_10.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_11.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_12.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_13.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_14.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_15.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_16.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_17.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_18.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_19.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_2.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_20.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_21.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_22.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_23.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_24.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_25.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_26.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_27.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_28.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_29.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_3.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_30.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_31.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_32.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_4.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_5.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_6.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_7.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_8.ogg
  Resources/Audio/_AU14/Voice/Corpsman/male_corpsman_9.ogg
  Resources/Locale/en-US/_AU14/chat/corpsman.ftl
  Resources/Prototypes/_AU14/SoundCollections/corpsman.yml
  Resources/Prototypes/_RMC14/Voice/base_speech_emote_sounds.yml
  Resources/Prototypes/_RMC14/Voice/speech_emotes.yml
  Resources/Textures/_AU14/Interface/Emotes/attributions.yml
  Resources/Textures/_AU14/Interface/Emotes/corpsman.png
Labels: Changes: Audio, Changes: No C#

#85 Riptide Updates + Gun Audio
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_ml66a.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_rifle.ogg
  Resources/Maps/_RMC14/USSRiptide.yml
Labels: Changes: Map, Changes: Audio, Changes: No C#

#86 Vendor Updates + Sprite Fixes
  Resources/Prototypes/_AU14/marinevendors.yml
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/full.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/half.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medical.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Clothing/Belt/medicbag.rsi/inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#87 quick name changes
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/gun_cases.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Cases/smartgunner_loadouts.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_mk1_rifle.yml
Labels: Changes: No C#

#89 PvE M20a and UACG Port
  Resources/Prototypes/_AU14/Entities/Clothing/Head/Helmets/marine_helmets.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_AU14/Entities/Clothing/jumpsuits.yml
  Resources/Prototypes/_AU14/Entities/Weapons/m20a.yml
  Resources/Textures/_AU14/Clothing/uacghelmet.rsi/equipped-HELMET.png
  Resources/Textures/_AU14/Clothing/uacghelmet.rsi/icon.png
  Resources/Textures/_AU14/Clothing/uacghelmet.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/m20amag.rsi/ammo_band.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/m20amag.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/m20amag.rsi/mag-1.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/m20amag.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/bolt-open.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/equipped-BACKPACK.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/icon.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/m20a.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/mag-0.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/wielded-inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/UACG/m20a.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#90 Map Variants
  Resources/Prototypes/_RMC14/Maps/USSRiptideClassic.yml
  Resources/Prototypes/_RMC14/Maps/USSRiptideDualSections.yml
  Resources/Prototypes/_RMC14/Maps/USSRiptideStandard.yml
  Resources/Prototypes/_RMC14/Maps/colonyevents.yml
Labels: Changes: No C#

#91 LifePak 15 Updates/Fixes
  Resources/Prototypes/_AU14/Entities/Items/audefib.yml
  Resources/Prototypes/_AU14/Entities/Structures/defib_cabinet.yml
  Resources/Textures/_AU14/Items/audefib.rsi/meta.json
  Resources/Textures/_AU14/Structures/audefibcabinet.rsi/closed.png
  Resources/Textures/_AU14/Structures/audefibcabinet.rsi/fill.png
  Resources/Textures/_AU14/Structures/audefibcabinet.rsi/frame.png
  Resources/Textures/_AU14/Structures/audefibcabinet.rsi/meta.json
  Resources/Textures/_AU14/Structures/audefibcabinet.rsi/open.png
Labels: Changes: Sprites, Changes: No C#

#92 Change Lifepak Size
  Resources/Prototypes/_AU14/Entities/Items/audefib.yml
Labels: Changes: No C#

#95 More Vendor Updates
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/cmbvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/medical.yml
Labels: Changes: No C#

#96 Vendor Changes + More Clothes + Desk Flags + Colony Blackbox
  Resources/Prototypes/_AU14/Entities/Clothing/CCAF/jumpsuits.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Civilian/hats.yml
  Resources/Prototypes/_AU14/Entities/Clothing/jumpsuits.yml
  Resources/Prototypes/_AU14/Entities/Items/deskflags.yml
  Resources/Prototypes/_AU14/Entities/Structures/blackbox.yml
  Resources/Prototypes/_AU14/Entities/Structures/fireextingushercabinet.yml
  Resources/Prototypes/_AU14/Entities/Structures/n14decorports.yml
  Resources/Prototypes/_AU14/Entities/Structures/wallflags.yml
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Textures/_AU14/Clothing/CCAF/ccafuniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CCAF/ccafuniform.rsi/icon.png
  Resources/Textures/_AU14/Clothing/CCAF/ccafuniform.rsi/jacket-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CCAF/ccafuniform.rsi/meta.json
  Resources/Textures/_AU14/Clothing/CCAF/ccafuniform.rsi/sleeveless-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CCAF/ccafuniform.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/Civilian/Hats/blackballcap.rsi/equipped-HELMET.png
  Resources/Textures/_AU14/Clothing/Civilian/Hats/blackballcap.rsi/icon.png
  Resources/Textures/_AU14/Clothing/Civilian/Hats/blackballcap.rsi/meta.json
  Resources/Textures/_AU14/Clothing/uscmoperationsuniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/uscmoperationsuniform.rsi/icon.png
  Resources/Textures/_AU14/Clothing/uscmoperationsuniform.rsi/meta.json
  Resources/Textures/_AU14/Clothing/uscmoperationsuniform.rsi/sleeveless-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Clothing/uscmoperationsuniform.rsi/sleeves-equipped-INNERCLOTHING.png
  Resources/Textures/_AU14/Items/DeskFlags/uadeskflag.rsi/meta.json
  Resources/Textures/_AU14/Items/DeskFlags/uadeskflag.rsi/uaflag.png
  Resources/Textures/_AU14/Items/DeskFlags/uscmdeskflag.rsi/meta.json
  Resources/Textures/_AU14/Items/DeskFlags/uscmdeskflag.rsi/uscmflag.png
  Resources/Textures/_AU14/Items/laptop.rsi/laptop_off.png
  Resources/Textures/_AU14/Items/laptop.rsi/meta.json
  Resources/Textures/_AU14/Structures/blackbox.rsi/blackbox.png
  Resources/Textures/_AU14/Structures/blackbox.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#97 lorification + fingerless gloves
  Resources/Audio/_AU14/GMMusic/Spec-Ops-The-Line-Elia-Cmiral-Welcome-to-Hell.ogg
  Resources/Prototypes/_AU14/Entities/Clothing/Hands/marine.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Hands/veteran.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/faction_hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/pmc.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Uniforms/marines.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Power/cells.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m5_atl_rocket_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Launchers/m83_grenade_launcher.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_mk1_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Rifles/m54c_rifle.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/m890_riotshotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/mou53_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Shotguns/pump_shotgun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/SmartGuns/smart_gun.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Weapons/Guns/Snipers/m96s_sniper.yml
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/black-fingerless.rsi/equipped-HAND.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/black-fingerless.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/black-fingerless.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/brown-fingerless.rsi/equipped-HAND.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/brown-fingerless.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Clothing/Hands/Gloves/brown-fingerless.rsi/meta.json
Labels: Changes: Sprites, Changes: Audio, Changes: No C#

#98 add fingerless gloves to vendor + lorification
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Machines/Vending/Squad/prep.yml
Labels: Changes: No C#

#102 Vendor/Job/Equipment/Clothing/xAI updates.
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_AU14/Entities/Clothing/CCAF/armor.yml
  Resources/Prototypes/_AU14/Entities/Clothing/CCAF/helmets.yml
  Resources/Prototypes/_AU14/Entities/Clothing/LACN-USASFSECFOR/armor.yml
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_deputy.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Other/CMB/bureau_marshal.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/civilian_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/colony_synth.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/corporate_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/doctor_survivor.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Survivor/engineer_survivor.yml
  Resources/Prototypes/_RMC14/Species/feroxi.yml
  Resources/Prototypes/_RMC14/Species/skrell.yml
  Resources/Prototypes/_RMC14/Voice/base_speech_emote_sounds.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_AU14/Clothing/CCAF/armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CCAF/armor.rsi/icon.png
  Resources/Textures/_AU14/Clothing/CCAF/armor.rsi/meta.json
  Resources/Textures/_AU14/Clothing/CCAF/armornopadss.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CCAF/armornopadss.rsi/icon.png
  Resources/Textures/_AU14/Clothing/CCAF/armornopadss.rsi/meta.json
  Resources/Textures/_AU14/Clothing/CCAF/armorstripped.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CCAF/armorstripped.rsi/icon.png
  Resources/Textures/_AU14/Clothing/CCAF/armorstripped.rsi/meta.json
  Resources/Textures/_AU14/Clothing/CCAF/ivashelmet.rsi/equipped-HELMET.png
  Resources/Textures/_AU14/Clothing/CCAF/ivashelmet.rsi/icon.png
  Resources/Textures/_AU14/Clothing/CCAF/ivashelmet.rsi/meta.json
  Resources/Textures/_AU14/Clothing/LACN/Armor/lacninfantryarmorstripped.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AU14/Clothing/LACN/Armor/lacninfantryarmorstripped.rsi/icon.png
  Resources/Textures/_AU14/Clothing/LACN/Armor/lacninfantryarmorstripped.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#104 Rank + Vendor updates.
  Resources/Locale/en-US/_AU14/job/colony.ftl
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/cmbvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/snowflakevendor.yml
  Resources/Prototypes/_AU14/Roles/Departments/au14_colony_department.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyadministrator.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycmbdeputy.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyemergencyresponseofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonysynth.yml
  Resources/Prototypes/_AU14/Roles/Ranks/Colony.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: Changes: No C#

#108 Vehicle Props and Racks
  Resources/Prototypes/_AU14/Entities/Structures/hybrisiaracks.yml
  Resources/Prototypes/_AU14/Entities/Structures/vehicles.yml
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack1.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack2.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack3.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack4.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack5.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack6.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/longrack7.png
  Resources/Textures/_AU14/Structures/hybrisiaracks.rsi/meta.json
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/ambulance.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/armored_truck_blue.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/armored_truck_teal.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/armored_truck_wy_black.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/armored_truck_wy_white.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_blue.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_brown.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_donk_damage_4.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_kelland_damage_3.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_red_damage_2.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_wy_black_damage_3.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/longtruck_wy_blue_damage_2.png
  Resources/Textures/_AU14/Structures/vehicles/largevehicles.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#115 Add civilian shuttle maps.
  Resources/Maps/_AU14/ShuttlesDropships/civshuttle.yml
  Resources/Maps/_AU14/ShuttlesDropships/civshuttleextraseating.yml
Labels: Changes: Map, Changes: No C#

#118 Update Colony Skills
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyadministrator.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycivilian.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycmbdeputy.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycmbmarshal.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonycorporateliaison.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyecologist.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyemergencyresponseofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyengineer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyethicsandwellnessadvisor.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyfoodserviceworker.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyforeman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyfreightsystemsspecialist.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyjournalist.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonynurse.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyphysician.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonysynth.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyusafrecruiter.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonywatsemanagementspecialist.yml
Labels: Changes: No C#

#123 GOVFOR Jobs and Vendor Changes
  Resources/Locale/en-US/_AU14/job/colony.ftl
  Resources/Locale/en-US/_AU14/job/governmentforces.ftl
  Resources/Prototypes/_AU14/Entities/IDCards/GOVFOR.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_AU14/Roles/Departments/au14_military_department.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platooncommander.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platooncorpsman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoondropshipcrewchief.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonoperationsofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonpilotofficer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonsectionsergeant.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonsquadautomaticrifleman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonsquadrifleman.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonsquadsergeant.yml
  Resources/Prototypes/_AU14/Roles/Ranks/USASF.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/dropship_crew_chief.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/AuxiliarySupport/gunship_pilot.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/executive_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Command/staff_officer.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/fireteam_leader.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/hospital_corpsman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/rifleman.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/smart_gun_operator.yml
  Resources/Prototypes/_RMC14/Roles/Jobs/Marines/squad_leader.yml
  Resources/Prototypes/_RMC14/Roles/Loadouts/role_loadouts.yml
Labels: Changes: No C#

#121 Add CCAF guns.
  Resources/Prototypes/_AU14/Entities/Weapons/CCAF/C10a6.yml
  Resources/Prototypes/_AU14/Entities/Weapons/CCAF/M75amas.yml
  Resources/Prototypes/_AU14/Entities/Weapons/CCAF/m100mgr.yml
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m100magazine.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m100magazine.rsi/mag-0.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m100magazine.rsi/mag-1.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m100magazine.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m75amasmagazine.rsi/ammo_band.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m75amasmagazine.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m75amasmagazine.rsi/mag-0.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m75amasmagazine.rsi/mag-1.png
  Resources/Textures/_AU14/Weapons/Guns/Ammo/Magazines/CCAF/m75amasmagazine.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/bolt-open.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/equipped-BACKPACK.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/icon.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/mag-0.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/wielded-inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/C10A6BR.rsi/wielded-inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/bolt-open.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/equipped-BACKPACK.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/icon.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/mag-0.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/wielded-inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M100MGR.rsi/wielded-inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/bolt-open.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/equipped-BACKPACK.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/icon.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/mag-0.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/mag-1.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/wielded-inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/CCAF/M75AMAS.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#132 Stable Garrison - Green/Blue shift Temp Map
  Resources/Maps/_RMC14/garrison.yml
  Resources/Prototypes/_RMC14/Maps/garrisonblueshift.yml
Labels: Changes: Map, Changes: No C#

#133 Medical Rework Stage One + ASRS Fixes.
  Resources/Prototypes/_AU14/Entities/Items/audefib.yml
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/clfvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/medicalvendor.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyfreightsystemsspecialist.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/healing.yml
Labels: Changes: No C#

#136 Port PvE skrim, minor job changes, fix aircrew visors.
  Resources/Locale/en-US/_AU14/job/colony.ftl
  Resources/Prototypes/_AU14/Entities/Clothing/LACN-USASFSECFOR/glasses.yml
  Resources/Prototypes/_AU14/Entities/Clothing/USCM/garb.yml
  Resources/Prototypes/_AU14/Entities/Clothing/USCM/glasses.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyminer.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Military/platoonpilotofficer.yml
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/deserthelmetcover.rsi/helmet.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/deserthelmetcover.rsi/icon.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/deserthelmetcover.rsi/meta.json
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/helmetnetting.rsi/helmet.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/helmetnetting.rsi/icon.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/helmetnetting.rsi/meta.json
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/junglehelmetcover.rsi/helmet.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/junglehelmetcover.rsi/icon.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/junglehelmetcover.rsi/meta.json
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/rainhelmetcover.rsi/helmet.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/rainhelmetcover.rsi/icon.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/rainhelmetcover.rsi/meta.json
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/snowhelmetcover.rsi/helmet.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/snowhelmetcover.rsi/icon.png
  Resources/Textures/_AU14/Clothing/USCMHelmetGarb/snowhelmetcover.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#139 Headset Touch Ups
  Resources/Locale/en-US/_RMC14/radio-channels.ftl
  Resources/Prototypes/_AU14/Entities/Clothing/Headset/clfheadsets.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Headset/colonyheadsets.yml
  Resources/Prototypes/_AU14/Entities/Clothing/Headset/govforheadsets.yml
  Resources/Prototypes/_AU14/Entities/Clothing/USCM/headsets.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfcellleader.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfdoctor.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfguerilla.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfmachinegunner.yml
Labels: Changes: No C#
