Repository AU-14/ColonialMarinesUniverse, pull requests merged in 2025-06, with the labels that each got.

#142 IED stage one + wearable Lifepak.
  Resources/Audio/_AU14/IED/detonate.ogg
  Resources/Audio/_AU14/IED/vestbeep.ogg
  Resources/Prototypes/_AU14/Entities/Items/audefib.yml
  Resources/Prototypes/_AU14/Entities/Items/ieds.yml
  Resources/Prototypes/_AU14/Entities/Vendors/clfvendors.yml
  Resources/Textures/_AU14/Clothing/CLF/pbied.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AU14/Clothing/CLF/pbied.rsi/icon.png
  Resources/Textures/_AU14/Clothing/CLF/pbied.rsi/meta.json
  Resources/Textures/_AU14/Clothing/CLF/pbied.rsi/primed.png
  Resources/Textures/_AU14/Items/audefib.rsi/equipped-BACKPACK.png
  Resources/Textures/_AU14/Items/audefib.rsi/equipped-BELT.png
  Resources/Textures/_AU14/Items/audefib.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_AU14/Items/audefib.rsi/meta.json
Labels: Changes: Sprites, Changes: Audio, Changes: No C#

#144 SOP, Rules and Vendor Updates
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLaw.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawAppeals.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawArresting.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCOProvisions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCharging.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCrimes.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCrimesMajor.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCrimesMinor.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawCrimesVariable.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawDefinitions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawDemotions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawExecutions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawLethal.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawNJP.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawPrisonerRights.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawProcedures.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawRanks.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawSearches.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawSpecialProvisions.xml
  Resources/ServerInfo/Guidebook/_RMC14/Law/RMCMarineLawSynthetics.xml
  Resources/ServerInfo/Guidebook/_RMC14/RMC14.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Core/RMCMetaknowledge.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Core/RMCRulesEscalation.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/MilitaryCommand/RMCHigherStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Mutiny/RMCMutinies.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCOverview.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCRulesCommand.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCRulesRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/RMCZeroTolerance.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCharacterNames.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCommandChain.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCCommandRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCGeneralRoleplayStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCHostileFactionRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCMarineRoleplayStandards.xml
  Resources/ServerInfo/Guidebook/_RMC14/Rules/Roleplay/RMCXenoRoleplay.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOP.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPEquipment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPGeneral.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModCommand.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModDeployment.xml
  Resources/ServerInfo/Guidebook/_RMC14/SOP/RMCMarineSOPNONModThirdParty.xml
Labels: Changes: No C#

#146 Fixes and stuff
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/satchels.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/scabbards.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Back/smartpacks.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/boonie.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/faction_hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/spp.yml
  Resources/Prototypes/_RMC14/Entities/Clothing/Head/tse.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Consumables/Food/MRE/mre.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Medical/defib.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a.rsi/inhand-left-color.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/SmartGuns/ml66a.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#

#156 No more emergency autoinjectors.
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
Labels: Changes: No C#

#165 Constructable HESCOs, no more metal/plasteel cades and a sprite fix.
  Resources/Prototypes/_AU14/Construction/barricade_metal.yml
  Resources/Prototypes/_AU14/Entities/Structures/HESCO.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_RMC14/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_metal.yml
  Resources/Prototypes/_RMC14/Entities/Structures/Walls/barricade_plasteel.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Structures/barricade_metal.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Structures/barricade_metal_door.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Structures/barricade_plasteel.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/Graphs/Structures/barricade_plasteel_door.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/cm_construction_base.yml
  Resources/Prototypes/_RMC14/Recipes/Construction/structures.yml
  Resources/Textures/_AU14/Structures/hesco.rsi/icon.png
  Resources/Textures/_AU14/Structures/hesco.rsi/meta.json
  Resources/Textures/_RMC14/Structures/Machines/VendingMachines/snack.rsi/normal-unshaded.png
Labels: Changes: Sprites, Changes: No C#

#166 ASRS balances, approved stamp, M2019 revolver.
  Resources/Prototypes/_AU14/Catalog/Fills/Crates/colony.yml
  Resources/Prototypes/_AU14/Entities/Items/ieds.yml
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Weapons/Civilian/m2019.yml
  Resources/Prototypes/_AU14/Roles/Jobs/Colony/colonyfreightsystemsspecialist.yml
  Resources/Prototypes/_RMC14/Catalog/Cargo/requisitions_catalog.yml
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/advanced-inhand-left.png
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/advanced-inhand-right.png
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/advanced.png
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/inhand-left.png
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/inhand-right.png
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/meta.json
  Resources/Textures/_AU14/Items/IEDs/signaller.rsi/signaller.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/M2019Blaster.rsi/equipped-BACKPACK.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/M2019Blaster.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/base.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/bolt-open.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/icon.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/inhand-right.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/meta.json
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/wielded-inhand-left.png
  Resources/Textures/_AU14/Weapons/Guns/Civilian/blaster.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: No C#

#169 Hair soulification + CM human
  Resources/IgnoredPrototypes/au14_ignoredPrototypes.yml
  Resources/Locale/en-US/_RMC14/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_facial_hair.yml
  Resources/Prototypes/_RMC14/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Species/Human/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Human/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: No C#

#170 Hemostatic Gauze + Tourniquets
  Resources/Locale/en-US/_AU14/medicine.ftl
  Resources/Prototypes/_AU14/Entities/Medical/medical.yml
  Resources/Prototypes/_AU14/Entities/Vendors/clfvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/leosecurityvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/medicalvendor.yml
  Resources/Textures/_AU14/Items/quickclot.rsi/hemgauze.png
  Resources/Textures/_AU14/Items/quickclot.rsi/hemgauze_left.png
  Resources/Textures/_AU14/Items/quickclot.rsi/hemgauze_right.png
  Resources/Textures/_AU14/Items/quickclot.rsi/meta.json
  Resources/Textures/_AU14/Items/quickclot.rsi/qc_left.png
  Resources/Textures/_AU14/Items/quickclot.rsi/qc_right.png
  Resources/Textures/_AU14/Items/quickclot.rsi/qc_ripped.png
  Resources/Textures/_AU14/Items/quickclot.rsi/quickclot.png
Labels: Changes: Sprites, Changes: No C#

#176 minorchanges
  Resources/Prototypes/_AU14/Entities/Medical/medical.yml
  Resources/Prototypes/_AU14/Entities/Vendors/civilianvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/clfvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/lacnvendors.yml
  Resources/Prototypes/_AU14/Entities/Vendors/marinevendors.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfdoctor.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfguerilla.yml
  Resources/Prototypes/_AU14/Roles/Jobs/CLF/clfmachinegunner.yml
  Resources/Prototypes/_RMC14/Maps/sheperdsforceonforce.yml
Labels: Changes: No C#

#178 Round End Sounds
  Resources/Audio/_AU14/RoundEnd/lastmanstanding_clf.ogg
  Resources/Audio/_AU14/RoundEnd/lastmanstanding_upp.ogg
  Resources/Audio/_AU14/RoundEnd/lastmanstanding_uscm.ogg
  Resources/Audio/_AU14/RoundEnd/lastmanstanding_wy.ogg
  Resources/Audio/_AU14/RoundEnd/neutral_hopeful1.ogg
  Resources/Audio/_AU14/RoundEnd/neutral_hopeful2.ogg
  Resources/Audio/_AU14/RoundEnd/neutral_melancholy1.ogg
  Resources/Audio/_AU14/RoundEnd/neutral_melancholy2.ogg
  Resources/Audio/_AU14/RoundEnd/nuclear_detonation1.ogg
  Resources/Audio/_AU14/RoundEnd/nuclear_detonation2.ogg
  Resources/Audio/_AU14/RoundEnd/sad_loss1.ogg
  Resources/Audio/_AU14/RoundEnd/sad_loss2.ogg
  Resources/Audio/_AU14/RoundEnd/winning_triumph1.ogg
  Resources/Audio/_AU14/RoundEnd/winning_triumph2.ogg
Labels: Changes: Audio, Changes: No C#

#179 SheperdsLACN + FOF
  Resources/Prototypes/_RMC14/Entities/Areas/areas_sheperd.yml
  Resources/Prototypes/_RMC14/Maps/sheperdsfof.yml
  Resources/Prototypes/_RMC14/Maps/sheperdsfoflacn.yml
  Resources/Prototypes/_RMC14/Maps/sheperdsforceonforce.yml
  Resources/Prototypes/_RMC14/Maps/sheperdslacn.yml
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/meta.json
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_barracks.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_barracks2.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_baths.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_briefing.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_brig.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_cic.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_e_gate.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_garage.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_hospital.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_lz.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_ne_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_nw_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_office.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_perimeter.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_platoon_commander.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_se_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_sw_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_w_gate.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_waste.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/military_yard.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_barracks.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_barracks2.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_baths.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_briefing.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_brig.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_cic.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_e_gate.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_garage.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_hospital.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_lz.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_ne_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_nw_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_office.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_perimeter.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_platoon_commander.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_se_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_sw_observe.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_w_gate.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_waste.png
  Resources/Textures/_RMC14/Areas/areas_sheperd.rsi/uscm_yard.png
Labels: Changes: Sprites, Changes: Map, Changes: No C#

#186 Add Aliens For Dead (L4D2 event) assets
  Resources/Prototypes/_AU14/Entities/Structures/cardboard.yml
  Resources/Prototypes/_AU14/Entities/Structures/vehicles.yml
  Resources/Textures/_AU14/Structures/cardboard.rsi/johnnycardboard.png
  Resources/Textures/_AU14/Structures/cardboard.rsi/meta.json
  Resources/Textures/_AU14/Structures/vehicles/stockcar.rsi/meta.json
  Resources/Textures/_AU14/Structures/vehicles/stockcar.rsi/stockcar.png
Labels: Changes: Sprites, Changes: No C#
